.abc{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    height: 35px;
    background-color: #781438;
    /* background-image: url(https://t4.ftcdn.net/jpg/04/95/28/65/360_F_495286577_rpsT2Shmr6g81hOhGXALhxWOfx1vOQBa.jpg); */

    padding-top: 10px;
}
.link{

    text-decoration: none;
    font-weight: 400px;
    color: wheat;
    
}
